*{

}

nav{
    padding: 10px;
    background: #c3f4fe
}

nav a{
    color: darkblue;
    padding: 10px;
    display: block;
}

h1{
    color: #300;
}


main{
    max-width: 840px;
    background-color: #c3f4fe;
    text-align: center;
}

main img{
    width: 200px;
    height: auto;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 1rem;
    background-color: #c3f4fe;
    color: #333;
    text-align: center;    
}

aside img{
    width: 200px;
    height: auto;
}

p {
    padding: 0;
    text-align: center;
}

footer{
    margin-top: 1em;
    border-top: 1px dotted #000
}